.shadow {  font-size: 18px; line-height: 22px; color: #3399cc; left: 20px; top: 19px; position: absolute; clip:  rect(   ); font-family: "ç]åÀä®í‡ó¨", "ÇcÇeä®í‡ó¨", "ÇcÇeïΩê¨ÉSÉVÉbÉNëÃW9"}
body {  font-size: 12px; line-height: 18px; color: #000066}
.text {  font-size: 12px; line-height: 18px; color: #000066 }
.textsmall { font-size: 11px; line-height: 14px; color: #0066CC; clip:  rect(   )}
.bar {  background-color: #99CCFF; border: #FFFFFF; border-style: double; border-top-width: 5px; border-right-width: 5px; border-bottom-width: 5px; border-left-width: 5px}
.title { font-weight: bolder; font-size: 16px}
.sep {  border-color: #CC0000 black; border-style: dotted; border-top-width: 1px; border-right-width: 0px; border-bottom-width: 1px; border-left-width: 0px}
table {  margin-top: 10px; margin-bottom: 10px}
